node_modules/**/*
npm-debug.*
web-build/
*/.expo/*
.DS_Store

rn-component-style-prop/node_modules/**/*
rn-component-style-prop/npm-debug.*
rn-component-style-prop/web-build/


rn-states/node_modules/**/*
rn-states/npm-debug.*
rn-states/web-build/
rn-states/.DS_Store


*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*


# macOS


